* {
    box-sizing: border-box;
}

:root {
    --primary:#02125ee0;
    --secondary:#dfe3f8;

}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #dfe3f8;
    background-color:#02125ee0;
    
}

header {
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center
}

header h1 {
    font-size: 4vw;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: dashed;
    padding: 5px 10px;
    margin-right: 10px;
    color: #dfe3f8;
    font-size: 1.5vw;
}

nav a:hover {
    color: #000;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
    color: var(--secondary);
}

.about-section {
    align-items: stretch;
    margin: 30px 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between
    flex-direction: row;
    flex-wrap: wrap;
}

.about-section > h2 {
    flex: 0 0 %;
    border: 2px solid var(--secondary);
    text-align: right;
    padding-right: 10px;
    font-size: 3vw;
}


.banner {

    border: solid white;
    background-image: url("./images/Mountain.jpeg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 20vh;
    color: var(--primary);
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
   }

   .banner h2 {
    margin: 0;
    padding: 10px 25px;
    
   }



   .work-section {
    align-items: stretch;
    margin: 30px 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 80%;
}



.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-item {
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}



   .work-section > h2{
    display: flex;
    justify-content:flex-end ;
    flex: 0 0 %;
    border: 2px solid var(--secondary);
    text-align: right;
    padding-right: 10px;
    font-size: 3vw;
    

}

   address{
    display: flex;
    justify-content: space-evenly;
   }


   @media screen and (max-width: 768px) {
    
   }